<html>
  <head>
    <style>
      body {
        background: <%= color_output %>;
        font-family: arial;
}
    </style>
  </head>
  <body>
    <p>
      <img src= "http://cdn.meme.am/instances/500x/57371107.jpg" alt= "Take a guess." style= "width:258px;height:258px;"
    </p>
    <p>  <%= message %> </p>
    <form>
      <input type='text' name='guess'/>
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>
