<html>
  <head>
    <style>
      body {
        background: <%= color_output %>;
          }
    </style>
  </head>
  <body>
    <p>
      <%= number %>
      <%= message %>
    </p>
    <form>
      <input type='text' name='guess'/>
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>
